/* Preview Styles */
.preview {
  font-size: 15px;
  line-height: 1.6;
  width: 100%;
  color: var(--color-text-dark);
  white-space: pre-wrap;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.preview .content {
  margin: 0;
}
